.App {
  text-align: center;
  font-family: lato;
}

.App-header {
  background-color: #42097c;
  height: 150px;
  padding: 20px;
  color: white;
}
a {
    text-align: left;
    text-decoration: none;
    color: black;
}
.table {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* container for channel image and info*/
.avatar {
    flex-grow:0;
    width:300px;
    position:relative;
    margin:auto;
    margin-top:5%;
}
/* channel info will be hidden by default*/
.twitcher-profile-overlay {
    position: absolute;
    height:100%;
    top: 0%;
    left:0;
    right:0;
    margin: auto;
    z-index:-2;
    color:white;
    background-color:#000;
}
/* show channel info on hover*/
.twitcher-profile-overlay:hover {
    z-index:10;
}
.avatar img {
    opacity:1;
    z-index:10;
    transition: opacity 0.5s;
}
/* image will fade away on hover to show channel info*/
.avatar img:hover {
    opacity:0.5;
    transition: opacity 0.5s;
    z-index:-2;
}
